.article{
    height: auto;
    width: 100%;
}
.first_div{
    background: linear-gradient(110deg, #eeece6 52%, #fdcd3b 52%);
    float: left; width: 100%
}
.first_div .nav_bar li {
    display: inline;
    float: right;
    padding: 56px;
}
.nav_bar li img{
    
    height: 2em;
    width: 2em;  
}

.first_div .buger_advert{
    display: inline;

    
    
}
.first_div .buger_advert img{
    float: right;
    height: 650px;
    width: 650px;
}
#order_now{
    background-color: #eb9e34;
    border-radius: 30px;
    display: block;
    padding: 10px;
  width: 70px;
  height: 20px;
  position: absolute;
}

.services{
    background-color:rgb(185, 230, 233) ;
    
}
.services li{
    height: 200px;
    
    width: 300px;
    display: inline-block;
    border-style: solid;
    padding: 50px;
    align-self: center;
    border-radius: 50px;
overflow: hidden;
font-size: xx-small;
margin: 15px;
margin-bottom: 5px;
    
}
li img{
    display: inline-block;
    height: 10em;
    width: 10em;
}
.our_menu{
    background-color:#e9e9e9;
}
#menu{
    border: none;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    background-color:#e9e9e9;
}

.the_decker{
    background-color: rgb(185, 230, 233) ;
    float: right;

}
.the_decker img{
    height: 12em;
    width: 12em;
    float: right;
}
.mobile_app{
    background-color: rgb(253, 190, 0) ;
    float: right ;
    width: 100%;
  
}
.mobile_app p{

}
.mobile_app img{
    height: 12em;
    width: 12em;
    float: right;
    padding: 50px;
}
.mobile_app #google_pic{
    float: left;
    height: 10em;

}
.mobile_app p{
    padding: 60px;
}
.info{
    background-color: rgb(185, 230, 233);
    display: inline-block;
}
.info li{
    display: inline-block;
    padding: 60px;
   
    float: right;
}
.info img{
    margin-top: 100px;
}
.footer{
    background-color:rgb(233, 235, 235) ;
    display: flex;
    justify-content: space-evenly;
}
.footer li{
    display: flex;
    justify-content: space
}
.footer li #inner{
    display: flex;
    justify-content: space-evenly;
}
 #inner img{
    height: 2em;
    width: 2em;
}