.article{
    height: auto;
    width: 100%;
}
body{
    overflow-x: hidden;
}
.first_div{
    background: linear-gradient(110deg,#FFFFFF 52%, #FEC130 52%);
    float: left; 
    width: 100%
}
.first_div .nav_bar li {
    display: inline;
    float: right;
    padding: 56px;
}
.nav_bar li img{
    
    height: 2em;
    width: 2em;  
}

.first_div .buger_advert{
  display: flex;
  justify-content: space-around;

    
}
/*
.first_div .buger_advert img{
    float: right;
    height: 600px;
    width: 400px;
    padding-top: 10px;
    padding-right: 220px;
    padding-bottom: 100px;
}*/
.first_div .buger_advert .b_text{
    display: block;
    font-size: x-large;
}
.buger_advert .buger_img img{
    display: block;
    height: 80%; width: 50%;
   margin-left: 25%;
}

#order_now{
    background-color: #FAA142;
    border-radius: 30px;
    display: block;
    padding: px;
  width: 70px;
  height: 20px;
  position: absolute;
}

button{
    background-color: #FBAD59;
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin-top: 300px;
    display: inline;
}
.services{
    background-color:#f7fdf6 ;
  margin: 0px;
    
}
.services li{
    height: 200px;
    margin: 0px;
    width: 20%;
    display: inline-block;
    border-style: solid;
    padding: 40px;
    align-self: center;
    border-radius: 50px;
overflow: hidden;
font-size: xx-small;
margin: 15px;
margin-bottom: 5px;
    
}
li img{
    display: inline-block;
    height: 10em;
    width: 10em;
}
.our_menu{
    background-color:#FFFFFF;
    

}
#menu{
    border: none;
    box-shadow: 2px 3px 5px #CBCBCB;
    background-color:white;
    height: 400px;
    font-size: small;
}
#carts{margin-left: 65%;
    background-color: #E1EBE6;
    padding: 10px;
    border-radius: 10px;
}
#carts img{
    padding: 0px;
    margin-top: 5px;
  
}

.the_decker{
    background-color: #F7FDF6 ;
    float: right;
    
}
.the_decker img{
    height: 12em;
    width: 12em;
    float: right;
    margin-right: 300px;
    
}
.the_decker .decker_text{
    margin-left: 200px;
    margin-top: 100px;
    font-size: x-large;
}
.the_decker #symbol{
    width: 70px;
}

.mobile_app{
    background-color: #F6B52E ; 
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.mobile_app .mob_text{
    margin-top: 100px;
    
    font-size: xx-large;
    margin-left: 50px;
    padding: auto;
}
.mobile_app .mobi_img img{

    height: 20em;
    width: 20em;
    margin-left: 30px;
    margin-top: 100px;
}

.mobile_app .break{
        flex-basis: 100%;
        height: 0px;
    
}
.mobile_app .google_pic{

}
.info{
    background-color: #F7FDF6;
   width: 100%;
    height: auto;
    
}
.info .info_inner{
    display: inline-flex;
    flex-direction: row;
   justify-content:space-evenly;
   width: 100%;
}
.info .info_inner li{
    width: 100%;
    list-style: none;
   margin-left: 15%;
   
   float: right;
   padding: 20px;
}
.info .info_inner li {
   display: inline;
   
}
.info img{
    height: 6em;
    width: 6em;
    margin-top: 10px;
    display: inline;
}
.footer{
    background-color:rgb(233, 235, 235) ;
    display: flex;
    justify-content: space-evenly;
}
.footer li{
    display: flex;
    justify-content: space
}
.footer li #inner{
    display: flex;
    justify-content: space-evenly;
}
 #inner img{
    height: 2em;
    width: 2em;
}
span{
    color: #FDBE41;
}
